body{
    overflow-wrap: break-word;
}

.nav{
    background-color: #e0ebe8;
    padding: 1.2% 0;
}

.nav-item{
    margin: 0 2%;
}

.nav-link{
    font-size: 1.5em;
    color: #1E836C;
}

.landing{
    height: 80vh;
}

#welcome{
    background-color: #ffffff;
}

.landing h1{
    margin-bottom: 1%;
    color: #1E836C;
    font-size: 5rem;
}

.landing p{
    color: #797979;
    font-size: 2rem;
}

.image-me{
    margin: 4% 0;
    border: solid 5px rgb(165, 207, 198);
    border-radius: 50%;
    width: 20%;
    height: auto;
}

#bio{
    display: inline-block;
    width: 30%
}

#hobbies{
    height: 100vh;
    background-color: #e0ebe8;
}

#hobbies h1{
    padding-top: 5%;
    margin-top: 5%;
    font-size: 4rem;
    color: #1E836C;
}
h2{
    color: #45B29A;
}

.hobby{
    display: flex;
    margin-top: 2%;
}

.hobby-photo{
    border-radius: 50%;
    max-width: 15%;
    max-height: auto;
}

.hobby .container{
    margin: 0 5%;
    display: flex;
    flex-direction: column;
}

.hobby .container p{
    display: flex;
    font-size: 1.4rem;
    justify-content: flex-start;
    text-align: left;
}

.hobby .container h2{
    display: flex;
    justify-content: flex-start;
    margin-top: 10%;
    font-size: 2.2rem;
}

footer{
    background-color: #ffffff;
}

footer p{
    margin:1% 0 1% 0;
}

/*-----------------WORK PAGE----------------------*/

#work-landing{
    background-color: #262626;
    height: 90vh;
}

#work-landing h1{
    color: #D8E359;
}

#work-landing p{
    color: rgb(219, 219, 219);
}

.img-work{
    margin-top: 5%;
    margin-bottom: 1%;
    max-height: 30%;
    max-width: auto;
}

#work-1{
    background-color: #FCFF76;
    height: 100vh;
}

#work-1 h1{
    color: #5575E5;
}

#work-1 p, #work-2 p{
    color: #4d4d4d;
}

#work-2{
    height: 100vh;
}

#work-2 h1{
    color: #5257A2;
}

.btn{
    margin-top: 1%;
    font-size: 2rem;
    border: solid 2px;
}

/*------------------CONTACT--------------------*/

.img-contact{
    margin-top: 5%;
    margin-bottom: 2%;
    max-height: 40%;
    max-width: auto;
}

/*-------------------CONS---------------------*/

.cons{
    background-color: #262626;
}

.cons li a{
    color: #FCFF76;
}

.cons-2 h1{
    color: rgb(28, 29, 4);
    font-size: 6rem;
    margin-top: 0;
}

